.input-data{
    margin-left: 20px;
    font-size: 16px;
}
p{
    font-size: 20px;
}
.form{
    width: 100px;
    margin-top: 10px;
    border-left: solid darkmagenta;
    border-top: solid darkmagenta;
    padding-top: 3px;
    padding-left: 3px;
}
.days{
    width: 600px;
    margin-left: 130px;
    display: flex;
    justify-content: space-between;
}
.members{
    width: 760px;
    display: flex;
    justify-content: space-between;
}
.member{
    width: 80px;
}