<div class="side-bar-header">
  <%= link_to "Fly Shift", root_path, class: "header-name"%>
  <div class="create-room">
  </div>
</div>
<div class="rooms">
    <div class="room">
      <div class="room-name">
        <%= link_to "シフト作成", new_create_path, class: "name"%>
        <%= link_to "シフト解析", "#", class: "name"%>
      </div>
    </div>
</div>