<div class="side-bar-header">
  <div class="header-name">
    Fly_Shift
  </div>
  <div class="create-room">
    <%# <%= link_to "チャットを作成する", new_room_path %> 
  </div>
</div>
<div class="rooms">
  <%# <% current_user.rooms.each do |room| %> 
    <div class="room">
      <div class="room-name">
        <div class="name">シフト作成</div>
        <div class="name">シフト解析</div>
      </div>
    </div>
</div>