<div class="wrapper">
  <div class="side-bar">
    <%= render "side_bar" %>
  </div>
  <div class="chat">
    <%= render "left_ber" %>
  <div class="form-input">
    <div class="form-image">
      <div>作成するシフトの月を選択してください
        <p>
          <select name="month">
            <option >1月</option>
            <option >2月</option>
            <option >3月</option>
            <option >4月</option>
            <option >5月</option>
            <option >6月</option>
            <option >7月</option>
            <option >8月</option>
            <option >9月</option>
            <option >10月</option>
            <option >11月</option>
            <option >12月</option>
          </select>
        </p>
      </div>
      <div> 勤務する人を全て入力してください 
        <div>
          <input type="text" name="name" size="10" placeholder="例) 鈴木">
          <input type="text" name="name" size="10">
          <input type="text" name="name" size="10">
          <input type="text" name="name" size="10">
          <input type="text" name="name" size="10">
        </div>
</div>


