<div class="wrapper">
  <div class="side-bar">
    <%= render "side_bar" %>
  </div>
  <div class="chat">
    <%= render "left_ber" %>
  <div class="form-input">
    <div class="form-image">
      <span class="image-file">画像</span>
    </div>
  </div>
  </div>
</div>


