<div class="input-data">
  <div>作成するシフトの月を選択してください
    <p>
      <select id="month">
        <option >-?--</option>
        <option >1月</option>
        <option >2月</option>
        <option >3月</option>
        <option >4月</option>
        <option >5月</option>
        <option >6月</option>
        <option >7月</option>
        <option >8月</option>
        <option >9月</option>
        <option >10月</option>
        <option >11月</option>
        <option >12月</option>
      </select>
    </p>
</div>
<div> 勤務する人を全て入力してください 
      <p>
        <input id="member1" type="text" name="name" size="10" placeholder="例) 鈴木">
        <button type="button" id="hannei" onclick="member();" >反映</button>
        <div id="count">0人追加/12人まで</div>
      </p>
</div>


<table id="days-member">
  <tr id="test">
    <th class="fixed01">見出し</th>
  </tr>
  <tr>
    <th class="fixed02" id="shift1"></th>
  </tr>
  <tr>
    <th class="fixed02" id="shift2"></th>
  </tr>
  <tr>
    <th class="fixed02" id="shift3"></th>
  </tr>
  <tr>
    <th class="fixed02" id="shift4"></th>
  </tr>
  <tr>
    <th class="fixed02" id="shift5"></th>
  </tr>
  <tr>
    <th class="fixed02" id="shift6"></th>
  </tr>
  <tr>
    <th class="fixed02" id="shift7"></th>
  </tr>
  <tr>
    <th class="fixed02" id="shift8"></th>
  </tr>
  <tr>
    <th class="fixed02" id="shift9"></th>
  </tr>
  <tr>
    <th class="fixed02" id="shift10"></th>
  </tr>
  <tr>
    <th class="fixed02" id="shift11"></th>
  </tr>
  <tr>
    <th class="fixed02" id="shift12"></th>
  </tr>

</table>
<button type="button" name="name" value="value" id="send" >button</button>

<script type="text/javascript">
var countUpValue = 0;
  function member(){
    const memberID = document.getElementById("member1");
    let IntoMember = "shift" + (countUpValue + 1)
    let IntoMemberNext= "shift" + (countUpValue + 2)
    const InnerHTMLpoint = document.getElementById(IntoMember);
    InnerHTMLpoint.innerHTML = `${memberID.value}`;
    for (let i = 0; i < 30; i++) {
      InnerHTMLpoint.insertAdjacentHTML('afterend','<td><select><option >A</option><option >B</option><option >C</option><option >D</option><option >A(当)</option><option >A/休</option><option >休</option><option >特休</option><option >有休</option></select></td>');
    };
    document.getElementById('member1').value = ''
    countUpValue++;
    document.getElementById("count").innerHTML = `${countUpValue}人追加/12人まで`;
  };
</script>










<%# <div class="input-data">
  <div>作成するシフトの月を選択してください
    <p>
      <select id="month">
        <option >-?--</option>
        <option >1月</option>
        <option >2月</option>
        <option >3月</option>
        <option >4月</option>
        <option >5月</option>
        <option >6月</option>
        <option >7月</option>
        <option >8月</option>
        <option >9月</option>
        <option >10月</option>
        <option >11月</option>
        <option >12月</option>
      </select>
    </p>
  </div>
  <div> 勤務する人を全て入力してください 
      <p>
        <input id="member1" type="text" name="name" size="10" placeholder="例) 鈴木">
        <button type="button" id="hannei" onclick="member();" >反映</button>
        <div id="count">0人追加/8人まで</div>
      </p>
  </div>
  <div class="form" id="mainhtml">
    
  </div>
</div>


<script type="text/javascript">
var countUpValue = 0;
  function member(){
    const memberID = document.getElementById("member1");
    let IntoMember = "intomember" + countUpValue
    const InnerHTMLpoint = document.getElementById(IntoMember);
    InnerHTMLpoint.innerHTML = `${memberID.value}`;
    for (let i = 0; i < 7; i++) {
      InnerHTMLpoint.insertAdjacentHTML('afterend','  <tr id="test2">
    <th class="fixed02">member</th>
    <td><select><option >---</option><option >A</option><option >B</option><option >C</option><option >D</option><option >A(当)</option><option >A/休</option><option >休</option><option >特休</option><option >有休</option></select></td>
    <td>テキスト</td>
    <td>テキスト</td>
    <td>テキスト</td>
    <td>テキスト</td>
  </tr>
');
    };
    document.getElementById('member1').value = ''
    countUpValue++;
    document.getElementById("count").innerHTML = `${countUpValue}人追加/8人まで`;
};
</script>


<%# <div class="days" id="days">
    </div>
    <div class="members">
      <p class="member" id="intomember0"></p>
    </div>
    <div class="members">
      <p class="member" id="intomember1"></p>
    </div>
     <div class="members">
      <p class="member" id="intomember2"></p>
    </div>
     <div class="members">
      <p class="member" id="intomember3"></p>
    </div>
     <div class="members">
      <p class="member" id="intomember4"></p>
    </div>
     <div class="members">
      <p class="member" id="intomember5"></p>
    </div>
     <div class="members">
      <p class="member" id="intomember6"></p>
    </div>
     <div class="members">
      <p class="member" id="intomember7"></p>
    </div> %>