<div class="input-data">
  <div>作成するシフトの月を選択してください
    <p>
      <select>
        <option >---</option>
        <option >1月</option>
        <option >2月</option>
        <option >3月</option>
        <option >4月</option>
        <option >5月</option>
        <option >6月</option>
        <option >7月</option>
        <option >8月</option>
        <option >9月</option>
        <option >10月</option>
        <option >11月</option>
        <option >12月</option>
      </select>
    </p>
  </div>
  <div> 勤務する人を全て入力してください 
      <p>
        <input type="text" name="name" size="10" placeholder="例) 鈴木">
        <input type="text" name="name" size="10">
        <input type="text" name="name" size="10">
        <input type="text" name="name" size="10">
        <input type="text" name="name" size="10">
      </p>
  </div>
  <div class="form">
    <div class="days">
      <div class="day">1</div>
      <div class="day">1</div>
      <div class="day">1</div>
      <div class="day">1</div>
      <div class="day">1</div>
      <div class="day">1</div>
      <div class="day">1</div>
    </div>
    <div class="members">
    <p class="member">mem</p>
    <p>
      <select>
        <option >---</option><option >A</option><option >B</option><option >C</option><option >D</option><option >A(当)</option><option >A/休</option><option >休</option><option >特休</option><option >有休</option>
      </select>
    </p>
    <p>
      <select>
        <option >---</option><option >A</option><option >B</option><option >C</option><option >D</option><option >A(当)</option><option >A/休</option><option >休</option><option >特休</option><option >有休</option>
      </select>
    </p>
    <p>
      <select>
        <option >---</option><option >A</option><option >B</option><option >C</option><option >D</option><option >A(当)</option><option >A/休</option><option >休</option><option >特休</option><option >有休</option>
      </select>
    </p>
    <p>
      <select>
        <option >---</option><option >A</option><option >B</option><option >C</option><option >D</option><option >A(当)</option><option >A/休</option><option >休</option><option >特休</option><option >有休</option>
      </select>
    </p>
    <p>
      <select>
        <option >---</option><option >A</option><option >B</option><option >C</option><option >D</option><option >A(当)</option><option >A/休</option><option >休</option><option >特休</option><option >有休</option>
      </select>
    </p>
    <p>
      <select>
        <option >---</option><option >A</option><option >B</option><option >C</option><option >D</option><option >A(当)</option><option >A/休</option><option >休</option><option >特休</option><option >有休</option>
      </select>
    </p>
    <p>
      <select>
        <option >---</option><option >A</option><option >B</option><option >C</option><option >D</option><option >A(当)</option><option >A/休</option><option >休</option><option >特休</option><option >有休</option>
      </select>
    </p>
    
  </div>
  
</div>


